@model IEnumerable<ListaTarefas.Models.Tarefas>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Importancia)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Inicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fim)
            </td>

            @if (item.Importancia == "Baixa")
            {
                <td class="text-info">
                    @Html.DisplayFor(modelItem => item.Importancia)
                </td>
            }

            @if (item.Importancia == "Média")
            {
                <td class="text-warning">
                    @Html.DisplayFor(modelItem => item.Importancia)
                </td>
            }

            @if (item.Importancia == "Crítica")
            {
                <td class="text-danger">
                    @Html.DisplayFor(modelItem => item.Importancia)
                </td>
            }
            <td>
                <a asp-action="Edit" asp-route-id="@item.TarefasId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TarefasId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TarefasId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
